:root {
    --primary-color: steelblue; /* Global variable */
    --secondary-color: #6c757d
}

/* Overrides */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

.txt-center {
    text-align: center;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 2px solid #333333;
    background-color: #FFFFFF;
}

.btn:hover {
    filter: brightness(0.85);
}

.btn-primary {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
}

.btn-secondary {
    border: 2px solid var(--primary-color);
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-weight: bold;
}

.btn-danger {
    border: 2px solid rgb(180, 70, 70);
    background-color: rgb(180, 70, 70);
    color: #ffffff;
    font-weight: bold;
}

.btn-sm {
    padding: 0.5rem 1rem;
}
.btn-md {
    padding: 0.5rem 3rem;
}
.btn-lg {
    padding: 0.5rem 5rem;
}

.btn-full {
    width: 100%;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.jc-end {
    justify-content: end;
}

.hide {
    display: none !important;
}

.mb-hide {
    display: none !important;
}

.mb-show {
    display: revert;
}

.flip {
    transform: rotateX(180deg);
}

.shrink {
    height: 300px !important;
}

/****** Quick Message *******/
#q-msg-container-list {
    position: absolute;
    top:1rem;
    right: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    overflow: hidden;

}
.q-msg-container {
    min-width: 200px;
    max-width: 400px;
    padding: .5rem;
    box-shadow: 0px 0px 5px 0px #00000033;
    animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
    from {
        margin-bottom: -100px;
        transform: translateX(250px);
        opacity: 0;
    }
    to {
        margin-bottom: 0;
        transform: translateX(0);
        opacity: 1;
    }
}

.q-msg-close-container {
    display: flex;
    justify-content: end;
}

.q-msg-close {
    display: flex;
    font-family: monospace;
    border-radius: 50%;
    padding: 2px;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #333333;
    justify-content: center;
    align-items: center;
}
.q-msg-close:hover {
    background-color: #00000033;
}

.q-msg {
    padding: 1rem;
}

.q-msg-ok {
    background-color: #90df90
}

.q-msg-warning {
    background-color: #d3df90
}
.q-msg-error {
    background-color: #df9090
}

.fade-out {
    animation: fade-out 0.5s linear forwards;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

/****** Navbar Styles ******/

#navbar {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}


#navbar .nav-links {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    width: 100%;
    transition: top 1s;
}

#navbar .nav-links.slide-up {
    top: -150%;
}

#navbar .nav-links li {
    list-style: none;
    flex-grow:1;
    text-align: center;
}

#navbar .nav-links li a,
#navbar .nav-links li a.btn {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 0.75rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: none;
    background-color: transparent;
}


#navbar .nav-links li a:hover {
    background-color: #00000033;
}

#navbar .toggle-nav {
    background-color: #FFFFFF;
    border-bottom: 1px dashed #c1c1c1;
    position: relative;
}

#navbar .toggle-nav span {
    display: inline-block;
    padding: 1rem 1.25rem;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}


#navbar .toggle-nav span:hover, #navbar .toggle-nav span.active {
    background: var(--primary-color);
    color: #FFFFFF;
}

/****** Modal Styles *******/

body:has(.modal-backdrop) {
    overflow:hidden;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    background-color: #00000055;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.modal-container {
    background-color: #ffffff;
    margin: 10vh 0.25rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px 0px #00000033;
}

.modal-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.modal-footer {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}


/****** Form Styles  *******/
.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 8px;
    color: #444;
    font-family: sans-serif;
    transition: font-size 0.25s;
    max-width: 300px;
    box-sizing: border-box;
}


.form-field label {
    user-select: none;
}

.form-field input {
    border: none;
}

.form-field:has(input:focus-visible) {
    font-size: 13px;
    outline: 1px solid var(--primary-color);
    border-color: var(--primary-color);
}

.form-field input:focus-visible {
    font-size: 16px;
    outline: none
}


/********** Login Page ***********/
#login-container {
    padding: 1rem;
    gap: 1rem;
}


/* .login-field input:is(:-webkit-autofill, :autofill) {
    background: transparent;
} */

/******* REGISTER *********/


#register-form {
    padding: 1rem;
    gap: 1rem;
}


/******* DASHBOARD ********/

.grid-item-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#characters-container {
    border-top: 1px dashed #c1c1c1;
    border-bottom: 1px dashed #c1c1c1;
    overflow: scroll;
    height: auto;
    transition: height 0.1s;
}

.character-card {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    box-sizing: border-box;
}


.character-card:not(:last-child) {
    border-bottom: 1px dashed #c1c1c1;
}

.character-card h3 {
    margin: 0;
    flex: 1;
    align-self: center;
    /* width: 100%; */
}

.character-card-content {
    flex: 3;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.character-card-bars-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
}

.character-card-data-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.character-card-data {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.character-card-data-object {
    box-sizing: border-box;
    font-size: 10px;
    word-wrap: break-word;
    display: inline-block;
}

.character-card-grouped-bars {
    display: flex;
    flex-direction: row;
    padding: 2px 3px;
    background-color: #e2e2e2;
    gap: 1px;
}

.character-card-bar {
    width: 8px;
    height: 14px;
    background: #89bfb7;
    border-radius: 2px;
}

.character-card-bar-default {
    width: 8px;
    height: 14px;
    background: #c3c3c3;
    border-radius: 2px;
} 


#show-character-list i {
    transition: transform 1s;
}




.modal-body > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}



#character-import {
    overflow: hidden;
}