:root {
    --primary-color: steelblue; /* Global variable */
    --secondary-color: #6c757d
}

/* Overrides */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

main {
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

.txt-center {
    text-align: center;
}

.btn {
    padding: 5px 15px;
    border-radius: 4px;
    border: 2px solid #333333;
    background-color: #FFFFFF;
}

.btn:hover {
    filter: brightness(0.85);
}

.btn-primary {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
}

.btn-secondary {
    border: 2px solid var(--primary-color);
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-weight: bold;
}

.btn-danger {
    border: 2px solid rgb(180, 70, 70);
    background-color: rgb(180, 70, 70);
    color: #ffffff;
    font-weight: bold;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.jc-end {
    justify-content: end;
}

/****** Quick Message *******/



/****** Modal Styles *******/



/********** Login Page ***********/
#login-container {
    padding: 1rem;
    gap: 1rem;
}

.login-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 8px;
    color: #444;
    font-family: sans-serif;
    transition: font-size 0.25s;
    max-width: 300px;
    box-sizing: border-box;
}


.login-field input {
    border: none;
}

.login-field:has(input:focus-visible) {
    font-size: 13px;
    outline: 1px solid var(--primary-color);
    border-color: var(--primary-color);
}

.login-field input:focus-visible {
    font-size: 16px;
    outline: none
}

/* .login-field input:is(:-webkit-autofill, :autofill) {
    background: transparent;
} */

/******* REGISTER *********/


#register-form {
    padding: 1rem;
    gap: 1rem;
}

.register-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 8px;
    color: #444;
    font-family: sans-serif;
    transition: font-size 0.25s;
    max-width: 300px;
    box-sizing: border-box;
}

.register-field input {
    border: none;
}

.register-field:has(input:focus-visible) {
    font-size: 13px;
    outline: 1px solid var(--primary-color);
    border-color: var(--primary-color);
}

.register-field input:focus-visible {
    font-size: 16px;
    outline: none
}


/******* DASHBOARD ********/

