<main id="dashboard-main">
            
    <h2 class="dynamic">Welcome to your Dashboard {{user.firstName}} {{user.lastName}}!</h2>
    <!-- <button onclick="API.send('grabRefreshToken')" class="btn btn-primary">Refresh authentication</button> -->
    <div class="grid-dashboard">
        <div class="grid-item-left grid-item">
            <button id="get-characters-btn" onclick="processGettingCharacters()" class="btn btn-primary">Get Characters</button>
            <div id="characters-container">
                <p>No data has been requested</p>
            </div>
        </div>
        <div class="grid-item-righ grid-item">
            <div id="character-form">
                <div>
                    <label for="character-name">Name</label>
                    <input id="character-name" type="text">
                </div>
                <div>
                    <label for="character-level">level</label>
                    <input id="character-level" type="text">
                </div>
                <div>
                    <label for="character-power">power</label>
                    <input id="character-power" type="text">
                </div>
                <div>
                    <label for="character-health">health</label>
                    <input id="character-health" type="text">
                </div>
                <div>
                    <label for="character-weapon-name">name</label>
                    <input id="character-weapon-name" type="text">
                </div>
                <div>
                    <label for="character-weapon-damage">damage</label>
                    <input id="character-weapon-damage" type="text">
                </div>
                <button onclick="createNewCharacter()" class="btn btn-primary">Create Character</button>
            </div>
            <div id="character-import">
                <h3>Import Character</h3>
                <input type="file" id="character-import-file">
                <button class="btn btn-primary" onclick="importCharacter()">Import File</button>
            </div>
        </div>
    </div>    
</main>