<div id="info-form" class="flex-col-center">
        <!-- <div id="login-container" class="flex-col-center"> -->
        <!-- <h1>Information</h1>
        <div class="info-field">
            <label for="firstName">First name: </label>
            <input id="firstName" type="text" placeholder="Mark">
        </div>
        <div class="info-field">
            <label for="lastName">Last name: </label>
            <input id="lastName" type="text" placeholder="Benson">
        </div>
        
        <button class="btn btn-primary" onclick="processProfileForm()">Submit</button> -->
</div>