<main>
    <div id="info-form" class="flex-col-center">
        <!-- <div id="login-container" class="flex-col-center"> -->
        <h1>Information</h1>
        <div class="info-field">
            <label for="fname">First name: </label>
            <input id="fname" type="text" placeholder="Mark">
        </div>
        <div class="info-field">
            <label for="lname">Last name: </label>
            <input id="lname" type="text" placeholder="Mark">
        </div>
        
        <div class="info-field">
            <label for="pwd-verify">Verify Password: </label>
            <input id="pwd-verify" type="password" placeholder="pwd123" required>
        </div>
        <button class="btn btn-primary" onclick="processProfileForm()">Submit</button>
    </div>
</main>