
    <div id="login-container" class="flex-col-center rotateFrom-90 form-element-container">
        <h1>Login</h1>
        <div class="form-field">
            <label for="username">Username: </label>
            <input id="username" type="text" placeholder="">
        </div>
        <div class="form-field">
            <label for="pwd">Password: </label>
            <input id="pwd" type="password" placeholder="">
        </div>
        <button class="btn btn-primary" onclick="login()">Login</button>
        <p class="txt-center">Don't have an account? <button class="btn btn-secondary" onclick="transitionToRegister()">Register</button></p>
    </div>
    <div>
        <select id="source-selector">
            <option value="" selected></option>
            <option value="http://localhost:8080/">Localhost</option>
            <option value="https://nodejsserver-a47a.onrender.com/">Render</option>
        </select>
    </div>